body {
  font-family: "Open Sans", sans-serif;
  color: #444444;
}

a {
  color: #47b2e4;
  text-decoration: none;
}

a:hover {
  color: #73c5eb;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Jost", sans-serif;
}


/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  transition: all 0.5s;
  z-index: 997;
  padding: 15px 0;
}
#header.header-scrolled, #header.header-inner-pages {
  background: rgba(40, 58, 90, 0.9);
}

#header .logo::before {
  content: ' ';
  display: block;
  background: url("/assets/img/logo.png") no-repeat;
  background-size: 50px;
  width: 40px;
  height: 40px;
  float: left; 
  margin: -2px -1px
}

#header .logo {
  font-size: 29px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 500;
  letter-spacing: 2px;
  text-transform: uppercase;
  /* margin-top: 20px; */
}
#header .logo a {
  color: #fff;
}
#header .logo img {
  max-height: 40px;
}


/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 100%;
  height: 90vh;
  background: url("../img/landmarkbogo.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  
}
#hero h1 {
  margin: 0 0 10px 0;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  color: #fff;
}
#hero h2 {
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 50px;
  font-size: 24px;
}
#hero .btn-get-started {
  font-family: "Jost", sans-serif;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 38px 11px 38px;
  margin-right: 10px;
  border-radius: 50px;
  transition: 0.5s;
  margin: 10px 0 0 0;
  color: #fff;
  background: #47b2e4;
}
#hero .btn-get-started:hover {
  background: #209dd8;
}
#hero .animated {
  animation: up-down 2s ease-in-out infinite alternate-reverse both;
}
#hero .scrollto {
  margin-right: 70px;
  margin-top: 10px;
  margin-left: 50px;
}
#hero .simdik {
  width: 40%;
  float: left;
  margin-top: 40px;
  border-radius: 5px;
}
#hero .simdiks {
  margin-top: 270px;
  margin-left: -170px;
}
#hero .simpak {
  width: 40%;
  float: left;
  margin-left: -300px;
  margin-top: 40px;
  margin-bottom: -215px;
  border-radius: 5px;
}
#hero .simpaks {
  margin-top: 270px;
  margin-left: -260px;
}
#hero .ppdb {
  width: 40%;
  float: left;
  margin-top: 40px;
  margin-left: -600px;
  border-radius: 5px;
}
#hero .ppdbs {
  margin-top: 270px;
  margin-left: -545px;
}
.img-fluid {
  margin-left: 150px;
}
@media screen and (max-width: 991px) {
  #header .logo {
    justify-content: center;
    margin-left: 70px;
  }
  #hero {
    height: 10vh;
    text-align: center;
  }
  #hero .animated {
    -webkit-animation: none;
    animation: none;
  }
  #hero .animated {
    animation: up-down 2s ease-in-out infinite alternate-reverse both;
  }
  #hero .hero-img {
    text-align: center;
  }
  #hero .hero-img img {
    width: 50%;
    margin-top: -100px;
    margin-left: 20px;
  }
  #hero .scrollto {
    margin-top: 30px;
    margin-right: 70px;
    margin-left: 95px;
  }
  #hero .simdik {
    width: 25%;
    float: left;
    margin-top: -20px;
  }
  #hero .simdiks {
    margin-top: 155px;
    margin-left: -620px;
  }
  #hero .simpak {
    width: 25%;
    margin-left: -420px;
    margin-top: -23px;
  }
  #hero .simpaks {
    margin-left: -1290px;
    margin-top: 155px;
  }
  #hero .ppdb {
    width: 25%;
    margin-top: -25px;
    margin-left: -840px;
  }
  #hero .ppdbs {
    margin-top: 155px;
    margin-left: -2190px;
    margin-right: 10px;
  }
}
@media screen and (max-width: 768px) {
  #header .logo {
    justify-content: center;
    margin-left: 70px;
  }
  #hero {
    height: 100vh;
    text-align: center;
  }
  #hero .animated {
    -webkit-animation: none;
    animation: none;
  }
  #hero .animated {
    animation: up-down 2s ease-in-out infinite alternate-reverse both;
  }
  #hero .hero-img {
    text-align: center;
  }
  #hero .hero-img img {
    width: 40%;
    margin-top: -0px;
    margin-bottom: 20px;
  }
  #hero .scrollto {
    margin-top: 30px;
    margin-right: 70px;
    margin-left: 95px;
  }
  #hero .simdik {
    width: 20%;
    margin-left: 100px;
    margin-bottom: -240px;
  }
  #hero .simdiks {
    margin-top: 130px;
    margin-left: -288px;
  }
  #hero .simpak {
    width: 20%;
    margin-left: -405px;
    margin-top: -22px;
  }
  #hero .simpaks {
    margin-top: 130px;
    margin-left: -1299px;
  }
  #hero .ppdb {
    width: 20%;
    margin-left: -910px;
    margin-top: -22px;
  }
  #hero .ppdbs {
    margin-top: 130px;
    margin-left: -2308px;
  }
}
@media screen and (max-width: 575px) {
  #header .logo {
    font-size: 25px;
    margin-left: 30px;
    
  }
  #hero .hero-img img {
    width: 30%;
    margin-top: -50px;
  }
  #hero .btn-get-started {
    font-size: 16px;
    padding: 10px 24px 11px 24px;
  }
  #hero .scrollto {
    margin-top: 50px;
    margin-right: 50px;
    margin-left: 45px;
  }
  #hero .simdik {
    width: 30%;
    margin-bottom: -240px;
    margin-left: 24px;
  }
  #hero .simpak {
    width: 20%;
    margin-left: 225px;
    margin-right: auto;
    margin-bottom: -300px;
    margin-top: 132px;
  
  }
  #hero .ppdb {
    width: 20%;
    float: right;
    display: block;
    margin-left: 415px;
    margin-top: 190px;
    margin-bottom: -30px;
  }
  .gambar {
    margin-left: 80px;
  }
}

@-webkit-keyframes up-down {
  0% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-10px);
  }
}

@keyframes up-down {
  0% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-10px);
  }
}
/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 60px 0;
  overflow: hidden;
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  font-size: 14px;
  background: #06226c;
}
#footer .footer-bottom {
  padding-top: 30px;
  padding-bottom: 30px;
  color: #fff;
}
#footer .copyright {
  float: left;
}

@media (max-width: 768px) {
  #footer .footer-bottom {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  #footer .copyright {
    text-align: center;
    float: none;
  }
}